@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'SnowTimes';
	font-style: italic;
	font-weight: 400;
	src: url(./assets/fonts/Snowtimes-Italic.ttf) format('truetype');
}

@font-face {
	font-family: 'Flubber';
	font-style: normal;
	font-weight: 400;
	src: url(./assets/fonts/Flubber.ttf) format('truetype');
}
@font-face {
	font-family: 'Nicolast';
	font-style: normal;
	font-weight: 400;
	src: url(./assets/fonts/Nicolast.ttf) format('truetype');
}

@font-face {
	font-family: 'NanumSquareNeo';
	font-style: normal;
	font-weight: 100;
	src:
		url(./assets/fonts/NanumSquareNeoTTF-aLt.woff2) format('woff2'),
		url(./assets/fonts/NanumSquareNeoTTF-aLt.woff) format('woff'),
		url(./assets/fonts/NanumSquareNeoTTF-aLt.eot) format('embedded-opentype');
}

@font-face {
	font-family: 'NanumSquareNeo';
	font-style: normal;
	font-weight: 300;
	src:
		url(./assets/fonts/NanumSquareNeoTTF-bRg.woff2) format('woff2'),
		url(./assets/fonts/NanumSquareNeoTTF-bRg.woff) format('woff'),
		url(./assets/fonts/NanumSquareNeoTTF-bRg.eot) format('embedded-opentype');
}

@font-face {
	font-family: 'NanumSquareNeo';
	font-style: normal;
	font-weight: 400;
	src:
		url(./assets/fonts/NanumSquareNeoTTF-cBd.woff2) format('woff2'),
		url(./assets/fonts/NanumSquareNeoTTF-cBd.woff) format('woff'),
		url(./assets/fonts/NanumSquareNeoTTF-cBd.eot) format('embedded-opentype');
}

@font-face {
	font-family: 'NanumSquareNeo';
	font-style: normal;
	font-weight: 500;
	src:
		url(./assets/fonts/NanumSquareNeoTTF-dEb.woff2) format('woff2'),
		url(./assets/fonts/NanumSquareNeoTTF-dEb.woff) format('woff'),
		url(./assets/fonts/NanumSquareNeoTTF-dEb.eot) format('embedded-opentype');
}

@font-face {
	font-family: 'NanumSquareNeo';
	font-style: normal;
	font-weight: 700;
	src:
		url(./assets/fonts/NanumSquareNeoTTF-eHv.woff2) format('woff2'),
		url(./assets/fonts/NanumSquareNeoTTF-eHv.woff) format('woff'),
		url(./assets/fonts/NanumSquareNeoTTF-eHv.eot) format('embedded-opentype');
}

:root {
	font-family: NanumSquareNeo, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.toastui-editor-contents {
	font-size: 18px !important;
}
